.SearchBoxSegment {
  padding: 0 0.5em !important;
  width: max-content !important;
}
.SearchButton {
  border: none !important;
  padding: 0 !important;
  background: none !important;
  margin: auto 0 auto 0 !important;
}

.SearchButton:focus {
  outline: none !important;
}
